/*basic reset*/
* {
    margin: 0; 
    padding: 0;
}

html {
    background-color: #fff;
    height: 100%;
}

body {
	font-family: "futura-pt", sans-serif;
    margin: 0 auto;
    position: relative;
}

 #scalecontainer{
    -moz-transform-origin: left top;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    width: 720px;
    margin: 0 auto;
    height: 310px;
    position: relative;
     overflow: visible;
     background: url(images/ceoAgendaBG.png) no-repeat center;
     top: 0;
     transform: scale(0.6) translate(-50%,0);
     left: 50%;
    
}

#textWrap {
    max-width: 720px;
    max-height: 310px;
    border: solid 1px #000;
    position: relative;
}

#ceoContainer {
    width: 100%;
    height: 210px;
    padding-top: 100px;
}

/* default Bain styles */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
        opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

a {
    color: #fff;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    color: #fff;
    padding: 15px;
    background: rgba(255,0,0,0.9);
    margin: 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center
}

h2 {
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 10px 0px;
}

#navigation {
    padding: 5px 0;
}

#navigation li:first-child {
    padding-left: 7px;
}

#navigation li ul li:first-child {
    padding-left: 0px;
}

li.subhead {
    width: 23%;
    display: inline-block;
    vertical-align: text-top;
    padding: 5px 5px 0;
    margin: 0;
    height: 128px;
    position: relative;
    bottom: 6px;
}

li.subhead:hover {
    background: rgba(255,0,0,0.9);
}

li.subhead:last-child {
    left: 3px;
}

li ul li {
    padding: 0 10px 7px 0;
    position: relative;
    display: inline-block;
    
}

.arrow {
    position: relative;
}

.arrow:before {
    bottom: 10%;    
	right: -15px;
	border: solid transparent;
	content: " ";
	height: 0px;
	width: 0px;
	position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #fff;

}